<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Información de Afiliados y Conyugues/Hijos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<h1>Información de Afiliados y Conyugues/Hijos</h1>

<div class="section">
    <h2>Datos del Afiliado</h2>
    <ul class="list">
        <li><strong>Tipo Documento:</strong></li>
        <li><strong>Número Documento:</strong> </li>
        <li><strong>Primer Nombre:</strong> </li>
        <li><strong>Segundo Nombre:</strong> </li>
        <li><strong>Primer Apellido:</strong> </li>
        <li><strong>Segundo Apellido:</strong> </li>
        <li><strong>Fecha Nacimiento:</strong> </li>
        <li><strong>Género:</strong> </li>
        <li><strong>Correo Electrónico:</strong> </li>
        <li><strong>Correo Electrónico Alternativo:</strong> </li>
        <li><strong>Número Celular:</strong> </li>
        <li><strong>Número Celular Alternativo:</strong> </li>
        <li><strong>Municipio Residencia:</strong> </li>
        <li><strong>Dirección Residencia:</strong></li>
        <li><strong>Entidad:</strong> </li>
    </ul>
</div>

<div class="section">
    <h2>Datos del Conyugue/Hijo</h2>
    <ul class="list">
        <li><strong>Tipo Documento:</strong> </li>
        <li><strong>Número Documento:</strong> </li>
        <li><strong>Primer Nombre:</strong> </li>
        <li><strong>Segundo Nombre:</strong> </li>
        <li><strong>Primer Apellido:</strong> </li>
        <li><strong>Segundo Apellido:</strong> </li>
        <li><strong>Fecha Nacimiento:</strong> </li>
        <li><strong>Género:</strong> </li>
        <li><strong>Correo Electrónico:</strong> </li>
        <li><strong>Correo Electrónico Alternativo:</strong> </li>
        <li><strong>Número Celular:</strong> </li>
        <li><strong>Número Celular Alternativo:</strong> </li>
        <li><strong>Municipio Residencia:</strong> </li>
        <li><strong>Dirección Residencia:</strong> </li>
        <li><strong>Número Documento Afiliado:</strong> </li>
        <li><strong>Tipo Afinidad:</strong> </li>
        <li><strong>Talla Calzado:</strong> </li>
        <li><strong>Talla Camisa:</strong> </li>
        <li><strong>Talla Pantalón:</strong> </li>
        <li><strong>Pensión:</strong> </li>
        <li><strong>EPS:</strong> </li>
        <li><strong>Preferencias:</strong> </li>
    </ul>
</div>

</body>
</html>