body {
    
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgba(247, 247, 247, 0.421),rgba(255, 255, 255,  0.421)), url(/resources/imagenes/sindicato3.png);
    background-size: 200% 200%;
    background-position: 45% 45%;

   
}
header{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url();
}
.contenedor_botones{ 
    width: 500px;
    display: flex;
    justify-content: space-between;
    
}
button:hover{
    background-color: rgb(11, 7, 211);
    color: white;
}
.btn_registrar{
    background-color: red;
    box-shadow:  1px 1px 5px   rgba(0, 0, 0, 0.995); 
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.contenedor_sesion{
    margin-left: 5%;
}
.btn_registrados{

    background-color: RED;
    box-shadow:  1px 1px 5px  rgb(0, 0, 0); 
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.imagen_logo{
    height: 100px;
}

.title_color{
    color: red;
    font-size: 40px;
}
.btn_session{
    background-color: rgba(6, 21, 228, 0.904);
    box-shadow:  1px 1px 5px  rgb(0, 0, 0); 
    width: 170px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 5%;
}
.btn_session:hover{
    background-color: brown;
}
.texto{
    width: 200px;
}
footer{
background-color: rgb(18, 10, 255);
color: white;
width: 98vw;
display: flex;
height: 99px;
font-size: 12px;
}
li{
    font-size: 12px;
}
.p_texto{
    font-size: 14px;
}
.imagen_logo1{
  
   width: 25px;
   height: 26px;
}
.a-login{
  
    text-decoration: none;
    color: white;
    margin-left: 4%;
   
}
.contendor_logo_session{
    
   display: flex;
   align-items: center;
}