body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}
.section1, .section2{
  display: flex;
justify-content: center;
}

.afiliado-info{
    display: flex;
    justify-content: center;
}
table{
    margin-top: 3%;
    box-shadow:  1px 1px 5px  rgba(0, 0, 0, 0.333);
    background-color: white;
}
th,td {
    width: 400px;
    height: 45px;
    border: 1px solid black;
    box-shadow:  1px 1px 1px  rgba(0, 0, 0, 0.772);
    text-align: center;
    background-color: white;

}
.contenedor_title_icono{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.section2 {
    margin-top: 1%;
}
.title_1{
font-size: 30px;
}
.contenedor_titulos , .contenedor_titulos_H{
    display: flex;
    justify-content: center;
}
.contenedor_titulos_H{
margin-top: 5%;
}
.icono_detalle{
  width: 170px;
  height: 30px; 
  color: rgb(0, 0, 0);
  font-size: 15px;
  box-shadow:  1px 1px 1px  rgba(0, 0, 0, 0.772);
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono_user{
margin-left: 5px;
height: 25px; 
}
.boton_color2{
    background-color: green;
    margin-top: 3%;
    border: none;
    border-radius: 3px;
    color: white;
    height: 25px;
    width: fit-content;
    font-size: 17px;
    box-shadow:  1px 1px 1px  rgba(0, 0, 0, 0.772);
    margin-left: 90%;
}
.tabla-contenedor {
    page-break-after: always;
}
.lista{
    background-color: white;
}
.contenedor_img_btn{
    display: flex;
    justify-content: space-between;
}
.btn_exel{
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(196, 177, 8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 2%;
    box-shadow:  1px 1px 5px  rgba(0, 0, 0, 0.637);
}
.btn_pdf{
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 2%;
    box-shadow:  1px 1px 5px  rgba(0, 0, 0, 0.637);
}
.btn_pdf:hover{
    background-color: green;
    cursor: pointer;
}
.contenedor_btnPDF{
 display: flex;
    width: 300px;
}
.icono_img{
    height: 20px;
}
p{
    margin-left: 5px;
    font-size: 12px;
}